body
{
  background: url(defqon.jpg)  
}
 .wrapper
 {
     background: rgba(182, 201, 16, 0.281);
     width: 500px;
     height: 500px;
     border: 1px solid rgb(209, 216, 169);
     padding: 10px;
     margin:auto
 }
 .chataZinas
 {
     background: rgb(0, 255, 242);
     height: 300px;
     color:black;
     padding: 5px;
     opacity: 40%;
     overflow-x: scroll;
 }