body
{
  background: url(defqon.jpg)  
}
 .wrapper
 {
     background: rgba(182, 201, 16, 0.281);
     width: 70%;
     height: 350px;
     border: 1px solid rgb(209, 216, 169);
     padding: 10px;
     margin:auto
 }
 .chataZinas
 {
     background: rgba(21, 194, 15, 0.11);
     height: 300px;
     color:white;
     font-size:x-large;
     padding: 5px;
     
     overflow-x: scroll;
 }